<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <h3>General</h3>
        <ul class="nav side-menu">
            <li>
                <a href="/admin/home"><i class="fa fa-home"></i> Dashboard</a>

            </li>
            <li>
                <a><i class="fa fa-edit"></i> Quản Lý Danh Mục <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="/admin/category/collection">Quản lý Collection</a></li>
                    <li><a href="/admin/category/brand">Quản lý Brand</a></li>
                    <li><a href="/admin/category/phonemodel">Quản lý PhoneModel</a></li>

                </ul>
            </li>
            <li>
                <a href="/admin/product"><i class="fa fa-edit"></i>Quản Lý Sản Phẩm</a>

            </li>

            <li>
                <a href="/admin/order"><i class="fa fa-edit"></i>Quản Lý Đơn Hàng</a>

            </li>
            <li>
                <a href="/admin/account"><i class="fa fa-edit"></i>Quản Lý User</a>

            </li>
            <li>
                <a href="/admin/home/commoninfo"><i class="fa fa-edit"></i>Thông tin chung</a>

            </li>
        </ul>
    </div>
</div>
