<section class="section" id="section_1847649318">
    <div class="bg section-bg fill bg-fill bg-loaded bg-loaded"></div>
    <div class="section-content relative">
        <div class="row row-full-width" id="row-365114695">
            <div class="col medium-1 small-12 large-1 col-divided">
                <div class="col-inner"></div>
            </div>
            <div class="col medium-5 small-12 large-5 col-divided">
                <div class="col-inner" style="background-color:rgb(255,255,255);">
                    <p style="text-align: center;"><span style="font-size: 150%;"><strong>LỜI NGỎ</strong></span></p>
                    <p>
                        <span style="font-size: 90%;">
                            WADU hiểu rằng mỗi chiếc ốp lưng do mình làm ra đều mang một thông
                            điệp, dấu ấn thật sự ý nghĩa.
                        </span>
                    </p>
                    <p>
                        <span style="font-size: 90%;">
                            <em>
                                <a href="#" target="_blank" rel="noopener">
                                    Ốp lưng mang tên
                                    riêng
                                </a> hay hình cá nhân – Vì ta là duy nhất. Chúng ta khi
                                sinh ra đã là một bản chính, vì vậy đừng sống và ra đi như một bản sao.
                            </em>
                        </span>
                    </p>
                    <p>
                        <span style="font-size: 90%;">
                            <em>
                                <a href="/danh-muc/op-lung-couple-1" target="_blank" rel="noopener nofollow"
                                   data-wplink-url-error="true" class="external">
                                    Ốp lưng
                                    couple
                                </a> – Ta quen nhau đã bao lâu rồi ? . Đôi khi chỉ muốn cho cả thế giới biết rằng chúng
                                ta yêu nhau đến dường nào… Hay mặc kệ cả thế giới, chúng ta chỉ cần biết là mình cần
                                nhau…
                            </em>
                        </span>
                    </p>
                    <p>
                        <span style="font-size: 90%;">
                            <em>
                                Ốp lưng hình gia đình – Cả nguồn sống bỗng chốc thu bé lại
                                vừa bằng một chiếc ốp lưng.
                            </em>
                        </span>
                    </p>
                    <p>
                        <span style="font-size: 90%;">
                            <em>
                                Ốp lưng với những cộc mốc quan trọng, thời gian ơi trôi
                                chầm chậm thôi…! Những dấu mốc đáng giá ta luôn ghi nhớ mãi trong những ngăn kín của thời
                                gian…Ngày ta bị nhà trường “đá đít” lăn ra đời? Khi hai ta về một nhà, khép đôi chung một
                                giường? Hay những phút giây thiêng liêng khi đứa con đầu tiên cất tiếng khóc chào đời…?
                            </em>
                        </span>
                    </p>
                    <p>
                        <span style="font-size: 90%;">
                            <em>
                                Ốp lưng ghi lại những cung đường đẹp, nơi chúng ta đã từng
                                qua – Life is an Adventure. Cuộc sống là một cuộc hành trình, tại sao không khám phá (khám &amp;
                                phá) theo cách riêng của mình? YOLO.
                            </em>
                        </span>
                    </p>
                    <p>
                        <span style="font-size: 90%;">
                            <em>
                                Ốp lưng thể hiện đam mê – Show your passion! Từ nhỏ cho đến
                                lớn, ai cũng có mơ ước, khát vọng để mà ôm ấp ủ, để mà theo đuổi. Với bạn, đó là điều gì?
                            </em>
                        </span>
                    </p>
                    <p>
                        <span style="font-size: 90%;">
                            <em>
                                Ốp lưng in hình thần tượng. Bạn muốn trở thành ai? Bạn thần
                                tượng Steve Jobs, Bill Gates hay Lionel Messi ? Bạn có thể trở thành bất kỳ ai, hay bất kỳ điều
                                gì bạn muốn nếu bạn có thể hình dung nó một cách rõ ràng.
                            </em>
                        </span>
                    </p>
                    <p>
                        <span style="font-size: 90%;">
                            <em>
                                <a href="in-op-lung-cau-noi-hay/index.html" target="_blank"
                                   rel="noopener">Ốp lưng danh ngôn</a> – Một câu nói hay đổi thay cuộc đời! Đôi khi một câu nói
                                đúng thời điểm cũng đủ để cứu rỗi cuộc đời của một ai đó, đặc biệt là trong những lúc khó khăn.
                            </em>
                        </span>
                    </p>
                    <p><span style="font-size: 90%;"><em>      … </em></span></p>
                    <p>
                        <span style="font-size: 90%;">
                            Bạn thể hiện điều gì lên ốp lưng của mình? Dù đó là điều gì đi
                            chăng nữa, đó chắc chắn là điều tốt đẹp và đáng trân trọng.
                        </span>
                    </p>
                </div>
            </div>
            <div class="col medium-5 small-12 large-5 col-divided">
                <div class="col-inner" style="background-color:rgb(255, 255, 255);">
                    <p>
                        <span style="font-size: 90%;">
                            Hiểu vậy, với mỗi chiếc ốp lưng được làm ra luôn chứa đựng sự
                            nghiêm túc, cẩn thận và tâm huyết của cả tập thể WADU Team &#8211; những con người trân quý cái
                            đẹp.
                        </span>
                    </p>
                    <p>
                        <span style="font-size: 90%;">
                            Đẹp và xấu luôn song hành cùng nhau. Cuộc sống là vậy, luôn có
                            hai mặt. Mặt sáng chứa đựng sự yêu thương, những điều tốt đẹp. Mặt tối bao gồm những phần còn lại.
                            Giống như ly nước có nửa phần đầy, nửa phần vơi.
                        </span>
                    </p>
                    <p>
                        <span style="font-size: 90%;">
                            Cuộc sống nở hoa tràn ngập niềm vui và tươi sáng hay ưu uất
                            trầm buồn là do cách chúng ta tập trung vào phần nào.
                        </span>
                    </p>
                    <p>
                        <span style="font-size: 90%;">
                            WADU không thể biến mùa hạ thành đông, cũng như không thể biến
                            nửa vơi kia thành đầy. Nhưng có thể góp phần mình một tay lưu giữ và lan tỏa, làm cho những sự tốt
                            đẹp, những điều quan trọng và ý nghĩa luôn ở bên cạnh và trong tầm tay của bạn.
                        </span>
                    </p>
                    <p>
                        <span style="font-size: 90%;">
                            Nếu bạn cầm chiếc ốp lưng trên tay, cảm nhận được phần đầy của
                            cuộc sống nhiều hơn từ đó cảm thấy hạnh phúc hơn dù chỉ là 1% thôi thì đó cũng là một thành công
                            rất lớn của WADU.
                        </span>
                    </p>
                    <p>
                        <span style="font-size: 90%;">
                            WADU tin rằng thế giới này không thay đổi và trở nên tốt đẹp
                            hơn vì một vài cá nhân làm nên điều vĩ đại mà bởi vì rất nhiều con người cố gắng không mệt mỏi
                            cùng nhau chung tay làm cho thế giới tốt hơn từng chút một…
                        </span>
                    </p>
                    <p>
                        <span style="font-size: 90%;">
                            Bạn muốn thay đổi thế giới? Hãy cùng chung tay lan tỏa những
                            điều tốt đẹp để những người thân yêu bên cạnh bạn hạnh phúc hơn nhé!
                        </span>
                    </p>
                    <p>
                        <span style="font-size: 90%;">
                            Hẹn gặp lại bạn trên hành trình lan tỏa hạnh phúc và yêu
                            thương.
                        </span>
                    </p>
                    <p>
                        <span style="font-size: 90%;">
                            <strong>                    </strong>
                        </span><strong>
                            <span style="font-size: 90%;">
                                WADU
                                TEAM
                            </span>
                        </strong>
                    </p>
                </div>
            </div>
            <style scope="scope"></style>
        </div>
    </div>
    <style scope="scope">

        #section_1847649318 {
            padding-top: 30px;
            padding-bottom: 30px;
            background-color: rgb(255, 255, 255);
        }
    </style>
</section>

