
<div class="banner has-hover hide-for-small" id="banner-953938744">
    <div class="banner-inner fill">
        <div class="banner-bg fill">
            <div class="bg fill bg-fill bg-loaded"></div>
        </div>
        <div class="banner-layers container">
            <div class="fill banner-link"></div>
            <div id="text-box-879428649" class="text-box banner-layer x50 md-x100 lg-x100 y20 md-y50 lg-y50 res-text">
                <div class="text ">
                    <div class="text-inner text-center">
                        <h1 style="text-align: center;"><span style="color: #000000; font-size: 90%;">WADU Case</span></h1>
                        <h2 style="text-align: center;">
                            <span style="color: #000000; font-size: 60%;">
                                In ốp lưng điện
                                thoại chất lượng cao
                            </span>
                        </h2>
                        <div class="gap-element" style="display:block; height:auto; padding-top:30px" class="clearfix">
                        </div>
                        <div class="row row-small align-equal align-center" id="row-1429838932">
                            <div class="col medium-5 small-6 large-5">
                                <div class="col-inner text-center">
                                    <a href="#batdauthietke" target="_self"
                                       class="button secondary box-shadow-2 expand" style="border-radius:99px;">
                                        <span>
                                            TỰ TAY THIẾT
                                            KẾ
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="col medium-5 small-6 large-5">
                                <div class="col-inner text-center">
                                    <a href="#nhowaduthietke" target="_self"
                                       class="button success box-shadow-2 expand" style="border-radius:99px;">
                                        <span>
                                            NHỜ WADU THIẾT
                                            KẾ
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <style scope="scope"></style>
                        </div>
                    </div>
                </div>
                <style scope="scope">
                    #text-box-879428649 {
                        width: 94%;
                    }

                        #text-box-879428649 .text {
                            font-size: 100%;
                        }


                    @@media (min-width:550px) {

                        #text-box-879428649 {
                            width: 43%;
                        }
                    }
                </style>
            </div>
        </div>
    </div>
    <style scope="scope">
        #banner-953938744 {
            padding-top: 148%;
        }

            #banner-953938744 .bg.bg-loaded {
                background-image: url('/Assets/img/background-nho-thiet-ke.jpg');
            }


        @@media (min-width:550px) {

            #banner-953938744 {
                padding-top: 42%;
            }
        }
    </style>
</div>
<div class="banner has-hover show-for-small" id="banner-1996962016">
    <div class="banner-inner fill">
        <div class="banner-bg fill">
            <div class="bg fill bg-fill bg-loaded"></div>
        </div>
        <div class="banner-layers container">
            <div class="fill banner-link"></div>
            <div id="text-box-822648360" class="text-box banner-layer x50 md-x100 lg-x100 y5 md-y20 lg-y20 res-text">
                <div class="text ">
                    <div class="text-inner text-center">
                        <h1 style="text-align: center;"><span style="color: #000000; font-size: 90%;">WADU Case</span></h1>
                        <h2 style="text-align: center;">
                            <span style="color: #000000; font-size: 60%;">
                                In ốp lưng điện
                                thoại chất lượng cao
                            </span>
                        </h2>
                        <div class="gap-element" style="display:block; height:auto; padding-top:10px" class="clearfix">
                        </div>
                        <div class="row row-small align-equal align-center" id="row-639629133">
                            <div class="col medium-5 small-6 large-5">
                                <div class="col-inner text-center">
                                    <a href="#" target="_self"
                                       class="button secondary is-larger box-shadow-2 expand" style="border-radius:99px;">
                                        <span>
                                            TỰ
                                            TAY THIẾT KẾ
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="col medium-5 small-6 large-5">
                                <div class="col-inner text-center">
                                    <a href="#nhowaduthietke" target="_self"
                                       class="button success is-larger box-shadow-2 expand" style="border-radius:99px;">
                                        <span>
                                            NHỜ
                                            WADU THIẾT KẾ
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <style scope="scope"></style>
                        </div>
                    </div>
                </div>
                <style scope="scope">
                    #text-box-822648360 {
                        width: 94%;
                    }

                        #text-box-822648360 .text {
                            font-size: 100%;
                        }


                    @@media (min-width:550px) {

                        #text-box-822648360 {
                            width: 43%;
                        }
                    }
                </style>
            </div>
        </div>
    </div>
    <style scope="scope">
        #banner-1996962016 {
            padding-top: 550px;
        }

            #banner-1996962016 .bg.bg-loaded {
                background-image: url('/Assets/img/nhothietke_mobile.jpg');
            }


        @@media (min-width:550px) {

            #banner-1996962016 {
                padding-top: 42%;
            }
        }
    </style>
</div>

