
@{
    ViewBag.Title = "Chính sách vận chuyển | Wadu Case";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main id="main" class="">
    <div id="content" class="content-area page-wrapper" role="main">
        <div class="row row-main">
            <div class="large-12 col">
                <div class="col-inner">
                    <h1 style="text-align: center;">CHÍNH SÁCH VẬN CHUYỂN</h1>
                    <p>
                        Wadu Case giao hang toàn quốc, tới tất cả 63 tỉnh thành trên phạm vi lãnh thổ Việt Nam. Phí vận
                        chuyển và thời gian giao hàng theo từng khu vực như sau:
                    </p>
                    <h2><span style="font-size: 75%;">1.Phí vận chuyển</span></h2>
                    <ul>
                        <li>Thành phố Hồ Chí Minh: 19.000 VND</li>
                        <li>Các tỉnh thành khác: 29.000 VND</li>
                    </ul>
                    <h2><span style="font-size: 75%;">2. Thời gian giao hàng</span></h2>
                    <ul>
                        <li>Khu vực nội thành TP.HCM: Từ 1 – 2 ngày</li>
                        <li>Khu vực ngoại thành TP.HCM và các thành phố lớn: 2 – 3 ngày</li>
                        <li>Các khu vực khác: 2 – 4 ngày</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>